header {
    margin: 0 auto;
    width: 95%;
}

#display-container {
    border: 1px solid grey;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 2%;
}

.display-nav {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 12.5%;
}

.display-nav > img {
    max-height: 44px;
    max-width: 48px;
    width: 95%;
}

.display-nav:hover {
    cursor: pointer;
}

#display-frame {
    margin: 2%;
    width: 75%;
}

#display-letter {
    font-size: 5rem;
    text-align: center;
}

#display-letter-img {
    border: 2px grey solid;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.img-display-200 {
    height: 200px;
    margin: 0 auto;
    padding: 5px;
    width: 200px;
}

.img-reduce {
    height: 195px;
    width: 195px;
}

#no-img {
    padding-bottom: 90px;
    padding-top: 90px;
    text-align: center;
    width: 100%;
}

#phonetic-word {
    font-size: 2rem;
    margin-top: 15px;
    text-align: center;
}

#pronounce-container,
#pronunciation {
    font-size: 1.25rem;
    text-align: center;
}

#pronounce-container {
    margin-bottom: 15px;
}

/* media query for generic tablet */
@media only screen and (min-width: 600px) {
    header {
        width: 75%;
    }

    #display-container {
        width: 70%;
    }

}

/* media query for generic desktop */
@media only screen and (min-width: 768px) {
    header {
        width: 50%;
    }

    #display-container {
        width: 50%;
    }
}