header {
    margin: 0 auto;
    width: 95%;
}

#display-container {
    border: 1px solid blue;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

#display-frame {
    border: 1px solid grey;
    margin: 0 auto;
    width: 50%;
}

#display-letter {
    font-size: 5rem;
    text-align: center;
}

#display-letter-img {
    border: 2px grey solid;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.img-display-200 {
    height: 200px;
    width: 200px;
}

#no-img {
    padding-bottom: 90px;
    padding-top: 90px;
    text-align: center;
    width: 100%;
}

#phonetic-word {
    font-size: 2rem;
    margin-top: 15px;
    text-align: center;
}

#pronounce-container,
#pronunciation {
    font-size: 1.25rem;
    text-align: center;
}

#pronounce-container {
    margin-bottom: 15px;
}